.avatar_pet {
  box-sizing: border-box;
  border: 5px solid #fff;
  box-shadow:  2px 4px 10px 1px rgba(0, 0, 0, 0.3);
  // margin-right: 2rem !important;
  cursor: pointer;
}
.carousel {
  width: 100%;
}